node_modules
python_modules
.venv
venv
.motia
.mermaid
dist
*.pyc
.cursor
.claude
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
opencode.json
AGENTS.md
CLAUDE.md
